* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;


    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --title-lg: bold 3.5rem/120% "Asap", sans-serif;
    --title-md: bold 1.5rem/120% "Asap", sans-serif;
    --title-sm: bold 1rem/120% "Asap", sans-serif;
    --Subtitle: 400 1.25rem/120% "Inconsolata", monospace;
    --text-md: 400 1rem/140% "Maven Pro", sans-serif;
    --text-sm: 400 0.875rem/140% "Maven Pro", sans-serif;

}
body {
    background-color: var(--gray-200);
}
a {
    text-decoration: none;
    color: var(--gray-500);
}

h1, h2, h3, h4, p {
    color: var(--gray-600);
}
.container {
    max-width: 65rem;
    margin: auto;
}
img {
    width: 100%;
}