.subtitle {
    font: var(--Subtitle);
    color: var(--gray-500);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-400)
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-600);
}
.text-md {
    font: var(--text-md);
    color: var(--gray-500);
}

.title-section {    
    font: var(--title-md);
}

.subtitle-section {
    font: var(--Subtitle);
    color: var(--red);
    margin-bottom: 0.5rem;
    text-align: center;
}